<v-app-layout>

  <div slot="header">

    <v-sub-header color="true">
      <template slot="header">
        Valmistuneet projektit
      </template>
    </v-sub-header>

  </div>


  <div class="bloc bgc-white l-bloc">
    <div class="container bloc-sm">
      <div class="row">
        <div class="col-sm-12">

          <v-vuetable-container>

            <vuetable class="mg-md" ref="vuetable" :css="css" :api-url="url + '/projects?organizationId=' + $store.state.account.organizationId"
              :fields="fields" :query-params="{ sort: '$sort', page: '', perPage: '$limit'}" @vuetable:loaded="onLoading" :no-data-template="noDataTemplate(this.loading, 'Ei vielä lisättyjä projekteja.')">
              <template slot="actions" scope="props">
                <div class="custom-actions">
                  <router-link :to="{ name: 'bids-open.index', params: { projectId: props.rowData.id, projectName: props.rowData.projectName  }}"
                    class="btn btn-sm inverse-color pull-right">
                    <span class="ion ion-eye icon-spacer icon-midnight-blue"></span>Näytä projekti
                  </router-link>
                </div>
              </template>
            </vuetable>

            <v-spinner v-if="loading"></v-spinner>

          </v-vuetable-container>

        </div>
      </div>
    </div>
  </div>


  <vk-modal :show="show" @clickOut="show = false" @inactive="show = false" @keyEsc="show = false">

    <a class="uk-close" @click="show = false">
  </a>
    <div class="uk-modal-header">
      <h2>Uusi projekti</h2>
    </div>
    <v-form-group-input name="projectName" source="project" rules="required">
      Nimi
    </v-form-group-input>
    <v-form-group-input name="projectNumber" source="project" rules="required">
      Projekti NRO
    </v-form-group-input>
    <div class="uk-modal-footer">
      <a href="#" @click.prevent="show = false" class="btn btn-d">Peruuta</a>
      <a href="#" @click.prevent="updateProject" class="btn pull-right btn-lime-green">Tallenna</a>
    </div>
  </vk-modal>

</v-app-layout>