<v-layout>
  <v-bloc>
    <h3 class="mg-sm text-center">
		  Coneron
	  </h3>
  </v-bloc>

  <v-bloc>
    <div class="col-md-6 col-md-offset-3">

      <h2 class="mg-sm text-center">
        Kirjaudu sisään
      </h2>
      <div class="divider-h">
        <span class="divider"></span>
      </div>
      <form @submit.prevent="login(user)">
        <div class="form-group">
          <label>
            Sähköposti
          </label>
          <input  data-rules="required|email" v-model="user.email" type="email" class="form-control" />
          <!-- <span class="error" v-show="errors.has('email')">{{ errors.first('email') }}</span>  v-validate-->
        </div>
        <div class="form-group">
          <label>
            Salasana
          </label>
          <input v-model="user.password" type="password" class="form-control" />
        </div>
        <div class="text-center">
          <button  class="btn btn-lg btn-deep-magenta">Kirjaudu sisään</button>
        </div>
      </form>
      <p class="text-center mg-lg">
        <router-link :to="{ name: 'reset.index' }">Unohditko salasanasi?</router-link>
      </p>

      <div class="text-center">
        <router-link class="btn btn-md btn-celestial-blue" :to="{ name: 'register.index' }">Uusi käyttäjä? Luo tili.</router-link>
      </div>

    </div>
  </v-bloc>
  

</v-layout>
