<div class="page-container">

  <v-nav-bar></v-nav-bar>

  <slot name="header"></slot>

  <div>
    <div class="row">
      <div class="col-md-12">
        <!-- Content will be placed here -->
        <slot></slot>
      </div>
    </div>
  </div>

</div>