<v-app-layout>

  <v-bloc>
      <div class="col-sm-12">

         <v-section-header>
          Kustannusrivit
        </v-section-header>

        <v-cost-row-component></v-cost-row-component>

        <v-nav-footer
          prevRoute="inner-basics.index"
          nextRoute="inner-files.index"
          :routeParams= "{ projectId: $store.state.route.params.projectId }">
        </v-nav-footer>

      </div>
  </v-bloc>
   

</v-app-layout>