<div class="bloc b-divider bgc-white l-bloc" id="bloc-319">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-3">
				<h3 class="mg-md">
					Löydä toimittajia
				</h3><a href="index.html" class="a-btn a-block">Selaa kaikkia</a><a href="index.html" class="a-btn a-block">Toimittajat Helsinki</a><a href="index.html" class="a-btn a-block">Toimittajat Espoo</a><a href="index.html" class="a-btn a-block">Toimittajat Tampere</a><a href="index.html" class="a-btn a-block">Toimittajat Vantaa</a><a href="index.html" class="a-btn a-block">Toimittajat Oulu</a><a href="index.html" class="a-btn a-block">Toimittajat Turku</a>
			</div>
			<div class="col-sm-3">
				<h3 class="mg-md">
					Tutustu tarkemmin<br>
				</h3><a href="index.html" class="a-btn a-block">Kuinka palvelu toimii?</a><a href="email-landing.html" class="a-btn a-block">UKK rakentajille</a><a href="dash-toimittaja.html" class="a-btn a-block">UKK toimittajat</a>
			</div>
			<div class="col-sm-3">
				<h3 class="mg-md">
					Yritys
				</h3><a href="index.html" class="a-btn a-block">Käyttöehdot</a><a href="index.html" class="a-btn a-block">Yksityisyys</a><a href="index.html" class="a-btn a-block">Turvallisuus</a><a href="index.html" class="a-btn a-block">Ota yhteyttä</a>
			</div>
			<div class="col-sm-3">
				<h3 class="mg-md">
					Seuraa meitä
				</h3><a href="index.html" class="a-btn a-block">Facebook</a><a href="index.html" class="a-btn a-block">Twitter</a>
			</div>
		</div>
	</div>
</div>
