<v-layout>
  <v-bloc>
    <h3 class="mg-sm text-center">
		  Coneron
	  </h3>
  </v-bloc>

  <v-bloc>
    <div class="col-md-6 col-md-offset-3">

      <h2 class="mg-sm text-center">
        Vaihda salasana
      </h2>

       <div class="form-group">
          <label>
            Syötä uusi salasana
          </label>
          <input v-model="user.password" type="password" class="form-control" />
        </div>

        <div v-if="reset" class="text-center">
          <router-link :to="{ name: 'login.index' }" class="btn btn-lg btn-deep-magenta">Siirry sisäänkirjautumiseen</router-link>
        </div>

        <div v-else class="text-center">
          <button @click="resetPassword(user.password)" class="btn btn-lg btn-deep-magenta">Vaihda salasana</button>
        </div>

        
    </div>
  </v-bloc>
  

</v-layout>