<div class="navbar">
	<div class="bloc bgc-white l-bloc" id="bloc-0">
		<div class="container bloc-sm">
			<nav class="navbar row">
				<div class="navbar-header">
					<a class="a-btn a-block logo ltc-midnight-blue" href="index.html">Coneron</a>
					<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
  					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
  				</button>
				</div>
				<div class="collapse navbar-collapse navbar-1">
					<ul class="site-navigation nav navbar-nav">


						<template v-if="!$store.state.auth.authenticated">

							<li>
								<router-link :to="{ name: 'register.index' }">Rekisteröidy</router-link>
							</li>
							<li>
								<router-link :to="{ name: 'login.index' }">Kirjaudu sisään</router-link>
							</li>

						</template>

						<template v-if="$store.state.auth.authenticated">
							<!--
    							<li>
               					 	<router-link :to="{ name: 'dashboard-send-quotes.index' }">Omat pyynnöt</router-link>
    							</li>
             					<li>
                					<router-link :to="{ name: 'dashboard-received-quotes.index' }">Tee tarjous</router-link>
              					</li>
              					<li>
                					<router-link :to="{ name: 'admin-list-items.index' }">Admin</router-link>
								  </li>
							-->
							<li>
								<router-link :to="{ name: 'projects.index' }">Projektit</router-link>
							</li>
							<li>
								<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Profiili <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<router-link :to="{ name: 'profile-settings.index' }">Muokkaa profiilia</router-link>
									</li>
									<li>
										<a href="#" @click.prevent="logout">Kirjaudu ulos</a>
									</li>
								</ul>
							</li>

						</template>


						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>