<div class="form-group-input">
  <div class="form-group" :class="{'has-error': doesHaveError() }">
    <label>
      <slot></slot>
    </label>

    <!-- v-validate -->
    <input v-if="!this.component"

    :type="this.type"
    :placeholder="this.placeholder"
    :class="classNames"

    :value="getState($store)"
    @input="updateQuote"
    :name="this.name"
    />

    <!-- v-validate -->
    <textarea v-if="checkComponentType('textarea')"

    :data-rules="this.rules"

    :type="this.type"
    :placeholder="this.placeholder"
    :class="classNames"

    :value="getState($store)"
    @input="updateQuote"
    :name="this.name"
    />

    <!-- v-validate -->
    <select v-if="checkComponentType('select')"

      :data-rules="this.rules"
      :class="classNames"

      :value="getState($store)"
      @input="updateQuote"
      :name="this.name"
    >
      <slot name="options"></slot>

		</select>


    <p class="text-danger" v-if="doesHaveError()">{{ renderError() }}</p>
  </div>
</div>
