<v-app-layout>

  <v-bloc>
      <div class="col-sm-12">
        
        <v-section-header>
          Tarjouspyynnön tiedot
        </v-section-header>

        <v-form-group-input
          name="quoteName"
          rules="required"
          >
          Nimi
        </v-form-group-input>

        <v-alert>
          Anna tarjouspyynnölle sellainen nimi että toimittajat huomaavat helposti mistä on tarjouspyynnössä kyse. 
Nimen olisi olla hyvä myös helposti tunnistettavissa muista tarjouspyyntöjen nimistä. 
        </v-alert>

        <v-form-group-input
          component="textarea"
          name="description"
          >
          Kuvaus
        </v-form-group-input>

        <v-alert>
          Anna tarjouspyynnölle lyhyt kuvaus tarjouspyynnön sisällöstä ja työn laajuudesta. 
Me esitämme tämän lyhyen kuvauksen toimittajalle sivuillamme. 
        </v-alert>

        <v-section-header>
          Tarjouksien viimeinen jättöpäivä
        </v-section-header>

        <v-form-group-input
          name="quoteEndDate"
          rules="required"
          type="date"
          contextualStyle="medium-field"
          >
          Valitse päivämäärä
      </v-form-group-input>

      <v-form-group-input
          name="quoteEndTime"
          rules="required"
          type="time"
          contextualStyle="short-field"
          >
          Valitse kellonaika
      </v-form-group-input>

        <v-nav-footer
          prevRoute="bidders.index"
          nextRoute="inner-files.index"
          :routeParams= "{ projectId: $store.state.route.params.projectId }">

        </v-nav-footer>

      </div>
  </v-bloc>
   

</v-app-layout>
