<v-app-layout>

  <div slot="header">

    <v-sub-header>
      <template slot="header">
        Tarjoukset pyynnölle:
      </template>
      <template slot="subheader">
        <h4 class="m-t-05 m-b-1 tc-midnight-blue bold-link">
          <template v-if="$store.state.quote.current.quoteName && !loading">
            {{$store.state.quote.current.quoteName}}
          </template>
          <template v-else-if="!loading">
            Nimetön tarjouspyyntö
          </template>
        </h4>
      </template>
    </v-sub-header>

  </div>

  <v-bloc>
    <div class="col-sm-12">

      <v-vuetable-container>

        <vuetable class="mg-md" :css="css" :api-url="url + '/offers?quoteId=' + $store.state.route.params.quoteId" :fields="fields"
          :query-params="params" @vuetable:loaded="onLoading" :no-data-template="noDataTemplate(this.loading, 'Ei saapuneita tarjouksia.')">

          <template slot="actions" scope="props">
            <button class="btn btn-sm btn-cal-poly-pomona-green pull-right disabled">
              Aloita neuvottelu
            </button>
          </template>
        </vuetable>

        <v-spinner v-if="loading"></v-spinner>

      </v-vuetable-container>

    </div>
  </v-bloc>

</v-app-layout>