<div class="bloc full-width-bloc bgc-white l-bloc">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
				<div class="row text-center">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-2">
								<div>
									<h5 class="mg-md">
										<router-link class="" :to="{ name: 'bids-open.index', params: { projectId: this.$store.state.route.params.projectId} }">
											<span class="ion ion-arrow-left-c icon-spacer"></span>	Takaisin tarjouspyyntöihin
										</router-link>
									</h5>
								</div>
							</div>
							<div class="col-sm-8">
								<router-link :to="{ name: 'bidders.index' }" active-class="btn-midnight-blue" class="btn btn-lg inverse-color"><span class="ion ion-ios-people icon-spacer"></span> Toimittajat
								</router-link>
								<router-link :to="{ name: 'inner-basics.index' }" active-class="btn-midnight-blue" class="btn btn-lg btn-d inverse-color"><span class="ion ion-checkmark icon-spacer"></span> Perustiedot
								</router-link>
								<!-- <router-link :to="{ name: 'cost-rows.index' }" active-class="btn-midnight-blue" class="btn btn-lg btn-d inverse-color"><span class="ion ion-checkmark icon-spacer"></span> Kustannusrivit
								</router-link> -->
								<router-link :to="{ name: 'inner-files.index' }" active-class="btn-midnight-blue" class="btn btn-lg btn-d inverse-color"><span class="ion ion-folder icon-spacer"></span> Tiedostot
								</router-link>
								<router-link :to="{ name: 'inner-preview.index' }" active-class="btn-midnight-blue" class="btn btn-lg btn-d inverse-color"><span class="ion ion-ios-eye icon-spacer"></span> Esikatselu
								</router-link>
							</div>
							<div class="col-sm-2">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>