<div class="hero-bloc">
	<!-- bloc-2 -->
	<div class="bloc bgc-white bg-bg-20version-202 d-bloc" id="bloc-2">
		<div class="container bloc-lg">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="mg-md tc-midnight-blue">
						Kilpailuta rakennusalan toimittajat vaivattomasti
					</h1>
					<h4 class="mg-md tc-midnight-blue">
						Me uskomme, että hyvin jäsennelty tieto johtaa parempiin päätöksiin.
					</h4>
					<router-link :to="{ name: 'projects.index' }" class="btn btn-lg btn-midnight-blue">Aloita kilpailuttaminen tästä</router-link>
				</div>
			</div>
		</div>
	</div>
	<!-- bloc-2 END -->

	<!-- bloc-3 -->
	<div class="bloc bgc-white l-bloc" id="bloc-3">
		<div class="container bloc-lg">
			<div class="row">
				<div class="col-sm-4">
					<div class="text-center">
						<span class="et-icon-pricetags front-icon icon-xl icon-midnight-blue"></span>
					</div>
					<h3 class="text-center mg-md">
						<strong>Kilpailuta</strong>
					</h3>
					<p class="text-center p">
						Onko käynyt että et saanut kilpailukykyisiä tarjouksia? <br>- Löydä projektillesi tehokkain ja luotettavin kumppani.
					</p>
				</div>
				<div class="col-sm-4">
					<div class="text-center">
						<span class="et-icon-cloud front-icon icon-xl icon-midnight-blue"></span>
					</div>
					<h3 class="text-center mg-md">
						<strong>Keskitä</strong>
					</h3>
					<p class="text-center">
						Onko tärkeä sähköposti hukkunut? - Keskitä kaikki tiedonvaihto yhteen kanavaan kaikkien projektissa toimivien yritysten kesken.
					</p>
				</div>
				<div class="col-sm-4">
					<div class="text-center">
						<span class="et-icon-search front-icon icon-xl icon-midnight-blue"></span>
					</div>
					<h3 class="text-center mg-md">
						<strong>Vertaile ja löydä</strong>
					</h3>
					<p class="text-center">
						Mikä toimittajista on luotettavin, tehokkain tai edullisin? Ennen vertailu vei aikaa, mutta nyt vertailu tapahtuu vaivattomasti ja nopeasti.
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- bloc-3 END -->


	<!-- bloc-6 -->
	<div class="bloc bgc-anti-flash-white d-bloc" id="bloc-6">
		<div class="container bloc-md">
			<div class="row">
				<div class="col-sm-12 text-center">
					<router-link :to="{ name: 'projects.index' }" class="btn btn-lg btn-midnight-blue">Aloita kilpailuttaminen tästä</router-link>
				</div>
				<!-- <div class="text-center">
					<router-link :to="{ name: 'register.index' }"  class="btn btn-d btn-lg button-top-margin">Toimitatko rakentajille? Liity palveluumme!</router-link>
				</div> -->
			</div>
		</div>
	</div>
	<!-- bloc-6 END -->
</div>