<v-app-layout>

  <div slot="header">

    <v-sub-header>
      <template slot="header">
        Avoimet tarjouspyynnöt
      </template>
    </v-sub-header>

  </div>

  <v-bloc>
    <div class="col-sm-12">

      <v-vuetable-container>

        <vuetable class="mg-md" :css="css" :api-url="url + '/quotes'" :fields="fields" :query-params="params" @vuetable:loaded="onLoading"
          :no-data-template="noDataTemplate(this.loading, 'Ei saapuneita tarjouspyyntöjä.')">

          <template slot="actions" scope="props">
            <router-link :to="{ name: 'make-offer.index', params: { quoteId: props.rowData.id }}" class="btn btn-sm btn-deep-magenta pull-right">
              Tee tarjous
            </router-link>
          </template>
        </vuetable>

        <v-spinner v-if="loading"></v-spinner>

      </v-vuetable-container>

    </div>
  </v-bloc>

</v-app-layout>