<div class="bloc d-bloc" :class="{ 'bgc-tangerine-yellow': color, 'bgc-white-smoke': !color}">
    <div class="container bloc-sm">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="m-t-05 m-b-1 tc-midnight-blue">
                    <slot name="header">
                    </slot>
                </h2>
                <slot name="subheader">
                </slot>
            </div>
            <div class="col-sm-6">
                <div class="m-t-05">
                    <slot name="right-col">
                    </slot>
                </div>
            </div>
        </div>
    </div>
</div>