<v-app-layout>

    <div slot="header">

      <v-sub-header>
        <template slot="header">
          Tee tarjous : 
          <template v-if="!loading">
            {{$store.state.quote.current.quoteName}}
          </template>
        </template>
        <template slot="right-col">
          <!-- <h3 class="text-white-color m-t-1 m-b-1 text-right">
							Tilaaja:
              <strong>
              Esimerkki nimi
              </strong>
						</h3> -->
        </template>      
      </v-sub-header>

    </div>

    <v-bloc>

      <div class="col-sm-12">

        <v-form-group-input
          component="textarea"
          name="message"
          source="offer"
          >
          Viesti tilaajalle
        </v-form-group-input>

        <button class="btn btn-lg btn-deep-magenta" type="button" @click.prevent="updateOffer">Lähetä tarjous</button>

        <!--<v-quote-preview-body>

        </v-quote-preview-body>-->

      </div>

    </v-bloc>

</v-app-layout>