<div class="bloc bgc-anti-flash-white l-bloc" id="bloc-262">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12">
                <a href="dash.html" class="btn btn-deep-lilac">Avoimet pyynnöt</a>
                <a href="hyvaksytyt.html" class="btn btn-d">Hyväksytyt toimittajat</a>
			</div>
		</div>
	</div>
</div>