<div class="page-container">

  <v-inner-navbar></v-inner-navbar>

  <slot name="header"></slot>

  <v-load-data
  ></v-load-data>

  <div>
    <div class="row">
      <div class="col-md-12">
        <!-- Content will be placed here -->
        <slot></slot>
      </div>
    </div>
  </div>


</div>