<v-app-layout>

  <v-bloc>
      <div class="col-sm-12">

          <div>
              <h1 class="hilight-color mg-lg">
                <span class="ion ion-ios-people"></span><strong>&nbsp;&nbsp;Lisää toimittajia</strong>
              </h1>
          </div>

          <v-alert>
              Tähän kenttään voitte lisätä haluamasi alihankkijoiden sähköpostit erotettuna pilkulla.               
          </v-alert>

          <input-tag placeholder="Erottele sähköpostit pilkulla" validate="email" :on-change="callbackMethod" :tags="tagsArray" :read-only="false"></input-tag>   

          <!-- <v-bidders-component></v-bidders-component> -->

        <v-nav-footer
          prevRoute="bids-open.index"
          nextRoute="inner-basics.index"
          :routeParams= "{ projectId: $store.state.route.params.projectId }">
        </v-nav-footer>

      </div>
  </v-bloc>
   

</v-app-layout>
