
<vk-modal :show="modalShow" @clickOut="$emit('close')" @inactive="$emit('close')" @keyEsc="$emit('close')">

  <a class="uk-close" @click="$emit('close')"></a>

  <div class="uk-modal-header">
    <h2> {{ this.modalHeader }}</h2>    
  </div>

  <slot name="modalContent"></slot>

  <div class="uk-modal-footer">
    <a href="#" @click.prevent="$emit('close')" class="btn btn-d">Peruuta</a>
    <a href="#" @click.prevent="$emit('submit'), $emit('close')" class="btn pull-right btn-lime-green">{{ modalConfirm }}</a>
  </div>
</vk-modal>