<v-app-layout>

  <v-bloc>
      <div class="col-sm-9">

        <v-quote-preview-body>

        </v-quote-preview-body>


      </div>

       <div class="col-sm-3">
         <v-panel class="panel-margin">
           <div slot="heading">
              <h4 class="mg-sm">
							  <span class="ion ion-person icon-sm"></span>&nbsp; Vastaanottajat
						  </h4>
            </div>  
            <div slot="body">

              <div v-for="email in this.contacts" class="row nomargin">
                <div class="col-sm-9">
                  <span class="a-btn a-block">{{ email }}</span>
                </div>
              </div>
              
              <div v-if="!this.contacts.length" class="row nomargin">
                <div class="col-sm-12">
                  <span>Ei määriteltyjä vastaanottajia.</span>
                 </div> 
              </div>


            </div>  
         </v-panel>
          <router-link :to="{ name: 'quote.index', params: { quoteId: $store.state.route.params.quoteId } }" class="btn btn-sm btn-celestial-blue btn-block">Linkki</router-link>
 
       </div>

  </v-bloc>
  <v-bloc>
      <div class="col-sm-12">
          <v-nav-footer
          type="finish"
          prevRoute="inner-files.index"
          nextRoute="bids-open.index"
          :routeParams= "{ projectId: $store.state.route.params.projectId }"
          >
        </v-nav-footer>
    </div>
  </v-bloc>  
   

</v-app-layout>
