/*-----------------------------------------------------------------------------------
	    konepajat
        Built with Blocs
-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,button{transition: all .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}

#page-loading-blocs-notifaction{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Background Textures */

.bloc-bg-texture::before{
	content:"";
	background-size: 2px 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}
.texture-darken::before{
	background: rgba(0,0,0,0.5);
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a,.d-bloc .navbar-brand, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc .navbar-brand:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .panel,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc .navbar-brand,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc .navbar-brand:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .btn-wire,.d-bloc .panel .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
.voffset-md{
	margin-top:50px;
}

/* Column No Gutters */

.row-no-gutters{
	margin-right:0;
	margin-left:0;
}
.row.row-no-gutters > [class^="col-"],.row.row-no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}
/* Dividers */

.b-divider{
	border-top:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid rgba(0,0,0,.1);
}

/* Bloc text custom styling */

#bloc-100 h4{
	line-height: 24px;
}
#bloc-176 p{
	font-size: 16px;
}
#bloc-262 h4{
	line-height: 24px;
}
#bloc-322 h4{
	line-height: 24px;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar{
	margin-bottom: 0;
	z-index:1;
}
.navbar-brand{
	height:auto;
	padding:3px 15px;
	font-size:25px;
	font-weight:normal;
	font-weight:600;
	line-height:44px;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.nav-center .navbar-brand img{
	margin:0;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
	z-index:1;
}
.nav > li{
	float:left;
	margin-top:4px;
	font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
	position:relative;
	z-index:2;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav > li .dropdown-menu a,.nav > li .dropdown-menu a:hover{
		color:#484848;
	}
	.nav-invert .site-navigation{
		left:0;
		right:0;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		margin-top:20px;
	}
.nav-center.mini-nav .navbar-toggle{
	float:none;
	margin: 10px auto 0;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 14px 15px;
}

nav .caret{
	margin: 0 5px;
}
/* Dropdown Menus SubMenu */
	.dropdown-menu .dropdown-menu{
	top:-8px;
	left:100%;
}
.dropdown-menu .dropmenu-flow-right{
	top:100%;
	left:0;
	margin-left: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.dropdown-menu .dropdown span{
	border: 4px solid black;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin: 6px -5px 0 0!important;
	float: right;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-sq{
	border-radius: 0px;
}
.btn-rd{
	border-radius: 40px;
}
.btn-wire{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-wire:hover{
	background:transparent!important;
	border:2px solid transparent;
}
.a-btn{
	padding: 6px 10px 6px 0;
	line-height: 1.42857143;
	display:inline-block;
}
.text-center .a-btn{
	padding: 6px 0;
}
.a-block{
	width:100%;
	text-align:left;
}
.text-center .a-block{
	text-align:center;
}
.icon-spacer{
	margin-right:5px;
}
.btn .caret{
	margin:0 0 0 5px}
/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}
.icon-lg{
	font-size:60px!important;
}
.icon-xl{
	font-size:100px!important;
}
.icon-rounded{
	margin:0 auto;
	border:2px solid transparent;
	border-radius: 6px;
	padding: 32px 30px 26px 30px;
	min-width:80px;
}
.icon-round.icon-md,.icon-square.icon-md,.icon-rounded.icon-md{
	min-width: 92px;
}
.icon-round.icon-lg,.icon-square.icon-lg,.icon-rounded.icon-lg{
	min-width: 122px;
}
.icon-round.icon-xl,.icon-square.icon-xl,.icon-rounded.icon-xl{
	min-width: 162px;
}

/* Image Frame */
.img-frame,.img-frame-md,.img-frame-lg,.img-frame-rd,.img-frame-rd-md,.img-frame-rd-lg{
	background:#FFF;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow:0 2px 2px rgba(0,0,0,0.05);
	padding:4px;
}
.img-frame{
	border-radius:3px;
}
.img-frame-md,.img-frame-lg{
	border-radius:6px;
}
.img-frame-md,.img-frame-rd-md{
	padding:8px;
}
.img-frame-lg,.img-frame-rd-lg{
	padding:14px;
}
/*  Rounded Image */
.img-rd{
	border-radius:6px;
}
.img-rd-md{
	border-radius:20px;
}
.img-rd-lg{
	border-radius:34px;
}


/* = Lists
-------------------------------------------------------------- */
.list-sp-md li{
	padding-bottom:10px;
}
.list-horizontal-layout li{
	float:left;
	margin:0 10px;
}
.list-sp-md li:last-child,.list-sp-lg li:last-child,.list-sp-xl li:last-child{
	padding-bottom:0;
}

/* = Panels
-------------------------------------------------------------- */
.panel{
	border:0;
	box-shadow: 0 0 2px rgba(0,0,0,.4);
}
.panel-heading, .panel-footer{
	background-color: inherit;
	border-color: rgba(0,0,0,.1)!important;
}
.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}

/* = Dividers
-------------------------------------------------------------- */
.divider-h{
	padding:20px 0;
}
.divider-h span{
	display: block;
	border-top:1px solid transparent;
}
.divider-half{
	width: 50%;
	margin: 0 auto;
}
.dropdown-menu .divider-h,.dropdown-menu .divider-half{
	padding:0;
}

/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* iFrame */

iframe{
	border:0;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}

/* Hide Object */
.object-hidden{
	display:none;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Source Sans Pro";
	color:#26205C!important;
}
.container{
	max-width:1170px;
}
.front-icon{
	background-color:rgba(78,214,127,0.0);
	color:#205828!important;
	margin-bottom:30px;
	margin-top:0px;
	padding-top:0px;
}
.header-feature{
	padding-top:15px;
}
.feature-with-header{
	padding-bottom:30px;
}
.btn-rd{
	color:#FEFFFF!important;
}
.btn{
	color:#FEFFFF!important;
}
.section-header{
	margin-top:50px;
	font-weight:bold;
}
.short-field{
	max-width:15%;
}
.medium-field{
	max-width:25%;
}
.block-icon{
	display:block;
	float:none;
	overflow:visible;
}
.row-gallery{
	padding-bottom:50px;
}
.side-col-selected{
	background-color:rgba(33,88,41,0.1);
	padding:20px 20px 20px 20px;
	overflow:visible;
	margin:0px 0px 0px 0px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:rgba(40,105,54,0.5);
}
.side-col-item{
	padding:20px 20px 20px 35px;
}
.side-column-bloc{
	padding-bottom:100px;
}
.drop-button{
	padding:10px 10px 10px 10px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-radius:4px 4px 4px ;
	border-color:rgba(41,106,54,0.2);
}
.drop-icon{
	margin-right:10px;
}
.column-divider{
	padding:0px 0px 0px 0px;
}
.header-divider{
	padding-bottom:5px;
	padding-top:5px;
}
.filter-button{
	margin-top:10px;
}
.float-text{
	display:block;
	float:right;
	margin-top:8px;
	margin-right:10px;
}
.bold-link{
	font-weight:bold;
}
.color-disabled{
	color:#8B8B8B;
	font-weight:normal;
	font-style:italic;
}
.select-icon{
	margin-right:20px;
	margin-top:5px;
}
.select-icon-witdh{
	margin-right:26px;
}
.select-icon-height{
	margin-top:0px;
	margin-right:22px;
}
.radio-padding{
	padding-bottom:20px;
}
.select-button-group{
	margin-bottom:35px;
}
.main-header-divider{
	padding-bottom:10px;
	padding-top:10px;
}
.wired-button{
	color:#286936;
}
.header-block{
	padding-top:15px;
	padding-bottom:15px;
}
.stat-bloc-text{
	font-size:44px;
	text-align:center;
	font-weight:bold;
}
.stat-bloc-sub-text{
	font-size:16px;
	text-align:center;
	text-transform:uppercase;
}
.divider-padding-bottom{
	padding-top:0px;
}
.preview-bg{
	background-color:#F0F2F0;
	padding:0px 0px 20px 0px;
	margin-left:0px;
}
.preview-padding{
	padding-top:10px;
	margin-top:20px;
}
.header-bg{
	background-color:#286936;
	color:#000000;
	font-family:"Source Sans Pro";
}
.float{
	float:right;
}
.top-button{
	margin-top:20px;
}
.button-top.margin-header-button{
	margin-top:20px;
}
.bloc-bottom-padding{
	padding-bottom:50px;
}
p{
	color:#080E14!important;
	font-family:"Source Sans Pro";
	font-size:15px;
	font-style:none;
}
.tabs{
	padding-top:20px;
}
.preview-header{
	margin-left:0px;
	padding-top:15px;
	padding-bottom:15px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:rgba(1,1,1,0.1);
}
.preview-row{
	margin-bottom:30px;
}
.preview-name-header{
	margin-bottom:8px;
}
.panel.margin-header-button{
	margin-top:20px;
}
.preview-quote-header{
	margin-top:4px;
}
.preview-header-padding{
	padding-top:10px;
}
.hero-bloc-text{
	font-size:55px;
}
.hero-bloc-text-sub{
	font-size:36px;
}
.begin-btn{
	margin-top:27px;
}
.n.margin-header-button{
	margin-top:0px;
}
.selected-items{
	background-color:#EEEEEE;
	padding:20px 20px 20px 20px;
	box-shadow:0px 8px 9px rgba(0,0,0,0.1);
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#E0E1E0;
}
.selected-search{
	padding:20px 20px 20px 20px;
	background-color:rgba(153,187,197,0.3);
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#E1E1E0;
}
.bottom-margin-20{
	margin-bottom:20px;
}
.no-margin-bottom{
	margin-bottom:0px;
}
.icon-button{
	display:block;
	padding:43px 43px 43px 43px;
}
.secondary-color{
	color:#4989DD!important;
}
.icon-button-slim{
	padding:0px 0px 0px 0px;
}
.table-header{
	margin-bottom:0px;
	background-color:rgba(186,186,186,0.1);
}
.image{
	padding:14px 14px 14px 14px;
}
.logo{
	font-family:"Source Sans Pro";
	font-size:24px;
	font-weight:bold;
	padding:0px 0px 0px 0px;
}
.search-input{
	float:none;
	width:80%;
	margin-top:3px;
	margin-left:15px;
}
.menu{
	padding:73px 73px 73px 73px;
}
.inverse-color{
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#D5D7E0;
	background-color:rgba(0,148,163,0.0);
	box-shadow:0px 3px 15px rgba(0,0,0,0.1);
	color:#000000!important;
}
.table-row{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}
.table-row-group{
	background-color:#9C27B0;
}
.text-white-color{
	color:#FFFFFF!important;
}
.avatar-nav{
	padding:15px 0px 8px 8px;
	float:right;
}
.menu-center{
	border-style:solid;
	border-width:0px 1px 0px 1px;
	border-color:rgba(0,0,0,0.1);
	text-align:center;
	background-color:rgba(218,218,218,0.3);
}
.row-pop-up{
	background-color:#8924A0;
	padding:0px 0px 0px 0px;
	margin:10px 0px 30px 0px;
	border-style:none;
	border-radius:4px 4px 4px 4px;
}
.hilight-color{
	color:#172334!important;
	background-color:rgba(0,0,0,0.0);
}
.hilight-divider-span{
	border-style:solid;
}
.row-pop-up-type{
	background-color:#172334;
}
.table-top.margin-header-button{
	margin-top:6px;
}
.hidden-pop-up{
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-radius:3px 3px 3px 3px;
	border-color:rgba(0,0,0,0.1);
	margin-top:0px;
	padding-top:25px;
}
.text-dark-color{
	color:#000000!important;
}
.text-center{
	text-align:center;
}
.bottom-margin-10{
	margin-bottom:10px;
}
.table-row-inner{
	background-color:#172333;
}
.text-gray{
	color:rgba(0,0,0,0.4)!important;
}
.selected-header{
	background-color:#EEEEED;
	padding:14px 14px 14px 14px;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#E1E1E1;
}
.selected-panel{
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#E1E1E0;
	padding:14px 14px 14px 14px;
}
.selected-header-hilight{
	background-color:#D622CB;
	border-width:1px 1px 1px 1px;
	border-color:rgba(214,34,203,0.8);
}
.selected-panel-scroll{
	overflow:visible;
}
.user-list{
	float:right;
	margin:-4px -4px -4px -4px;
}
.ternary-color{
	color:#9C27B0!important;
}
.top-bar{
	border-color:#DDDDDC;
	border-style:solid;
	border-width:0px 0px 1px 0px;
}
.main-header.margin-header-button{
	margin-top:6px;
}
.navlist{
	margin-top:0px;
}
.margin-header-button{
	margin-top:32px;
	float:right;
}
.hilight-divider{
	background-color:rgba(0,0,0,0.0);
}
.dragzone{
	border-style:dashed;
	text-align:center;
	border-width:1px 1px 1px 1px;
	border-radius:3px 3px 3px ;
	border-color:rgba(32,88,40,0.2);
	padding:20px 20px 20px 20px;
	margin-top:30px;
}
.comment{
	background-color:#FFFFFF;
	padding:12px 12px 12px 12px;
	border-radius:3px 3px 3px ;
	margin-top:2px;
}
.table-top-margin-large{
	margin-top:30px;
}
.custom-header{
	background-color:rgba(237,239,237,0.6);
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:rgba(203,203,203,0.4);
	padding:20px 20px 20px 20px;
	border-radius:0px 0px 0px 0px;
	margin-bottom:20px;
	box-shadow:1px 0px 1px rgba(0,0,0,0.2);
}
.custom-file-header{
	padding:12px 18px 12px 18px;
	margin-top:40px;
}
.header-button-margin{
	margin-top:13px;
}
.nomargin{
	margin-top:0px;
}
.panel-margin{
	margin-top:20px;
}
.panel-margin-text{
	margin-top:6px;
}
.table-row-shadow{
	box-shadow:0px 5px 8px rgba(0,0,0,0.2);
}
.main-header-margin{
	margin-top:5px;
}
.alert-padding{
	padding:22px 22px 22px 22px;
}
.help-panel{
	border-color:#BCE8F1;
	border-style:solid;
	border-width:1px 1px 1px 1px;
	background-color:rgba(49,112,141,0.1);
}
.accepted-state{
	border-width:1px 1px 1px 1px;
	border-style:solid;
	background-color:rgba(32,179,41,0.1);
	border-color:#20B328;
	color:#080E14!important;
	box-shadow:0px 0px 2px rgba(0,0,0,0.1);
	padding:15px 15px 15px 15px;
	margin:0px 0px 0px 0px;
	border-radius:2px 2px 2px ;
}
.seen-state{
	background-color:rgba(226,121,40,0.1);
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#E27828;
}
.rejected-state{
	background-color:rgba(211,64,78,0.1);
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#D3404E;
}
.suggested-panel{
	background-color:rgba(32,179,41,0.1);
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:rgba(32,179,41,0.1);
}
.state-row{
	padding:6px 6px 6px 6px;
	text-align:center;
}
.required-field{
	background-color:rgba(239,169,37,0.1);
}
.preview-icon{
	margin-top:12px;
}
.preview-container{
	background-color:#EDEFEC;
	padding:15px 15px 15px 15px;
}
.preview-header-colored{
	background-color:#2C8696;
	padding:20px 20px 20px 20px;
}
.identify-padding{
	padding:10px 10px 10px 10px;
	background-color:#3B6978;
}
.table-row-padding{
	padding-top:15px;
	border-style:solid;
	border-width:1px 0px 0px 0px;
	border-color:#DDDDDC;
	margin-top:15px;
}
.row-tag{
	font-size:10px;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
	background-color:#FFFFFF;
}
.bgc-cal-poly-pomona-green{
	background-color:#205828;
}
.bgc-anti-flash-white{
	background-color:#F2F2F2;
}
.bgc-deep-carrot-orange{
	background-color:#E27928;
}
.bgc-isabelline{
	background-color:#EDEFED;
}
.bgc-pastel-gray{
	background-color:#CCCBCD;
}
.bgc-dark-jungle-green{
	background-color:#172334;
}
.bgc-midnight-blue{
	background-color:#26205C;
}
.bgc-deep-magenta{
	background-color:#D623CC;
}
.bgc-white-smoke{
	background-color:#F3F5F6;
}
.bgc-deep-lilac{
	background-color:#9D3EB0;
}
.bgc-azure{
	background-color:#0179FE;
}
.bgc-celadon{
	background-color:#AFE7BF;
}
.bgc-tangerine-yellow{
	background-color:#FDCB05;
}

/* Text colour styles */

.tc-white{
	color:#FFFFFF!important;
}
.tc-outer-space{
	color:#47454B!important;
}
.tc-heart-gold{
	color:#867500!important;
}
.tc-deep-magenta{
	color:#D623CC!important;
}
.tc-cal-poly-pomona-green{
	color:#205828!important;
}
.tc-davys-grey{
	color:#57595D!important;
}
.tc-deep-lilac{
	color:#9D3EB0!important;
}
.tc-medium-jungle-green{
	color:#1E2F45!important;
}
.tc-midnight-blue{
	color:#26205C!important;
}

/* Button colour styles */

.btn-deep-magenta{
	background:#D623CC;
	color:#FFFFFF!important;
}
.btn-deep-magenta:hover{
	background:#ab1ca3;
	color:#FFFFFF!important;
}
.btn-cal-poly-pomona-green{
	background:#205828;
	color:#FFFFFF!important;
}
.btn-cal-poly-pomona-green:hover{
	background:#1a4620;
	color:#FFFFFF!important;
}
.btn-celestial-blue{
	background:#4989DD;
	color:#FFFFFF!important;
}
.btn-celestial-blue:hover{
	background:#3a6eb1;
	color:#FFFFFF!important;
}
.btn-deep-lilac{
	background:#9D3EB0;
	color:#FFFFFF!important;
}
.btn-deep-lilac:hover{
	background:#7e328d;
	color:#FFFFFF!important;
}
.btn-deep-carrot-orange{
	background:#E27928;
	color:#FFFFFF!important;
}
.btn-deep-carrot-orange:hover{
	background:#b56120;
	color:#FFFFFF!important;
}
.btn-davys-grey{
	background:#57595D;
	color:#FFFFFF!important;
}
.btn-davys-grey:hover{
	background:#46474a;
	color:#FFFFFF!important;
}
.btn-lime-green{
	background:#20B328;
	color:#FFFFFF!important;
}
.btn-lime-green:hover{
	background:#1a8f20;
	color:#FFFFFF!important;
}
.btn-dark-jungle-green{
	background:#172334;
	color:#FFFFFF!important;
}
.btn-dark-jungle-green:hover{
	background:#121c2a;
	color:#FFFFFF!important;
}
.btn-medium-jungle-green{
	background:#1E2F45;
	color:#FFFFFF!important;
}
.btn-medium-jungle-green:hover{
	background:#182637;
	color:#FFFFFF!important;
}
.btn-midnight-blue{
	background:#26205C;
	color:#FFFFFF!important;
}
.btn-midnight-blue:hover{
	background:#1e1a4a;
	color:#FFFFFF!important;
}
.btn-aurometalsaurus{
	background:#5F7C8A;
	color:#FFFFFF!important;
}
.btn-aurometalsaurus:hover{
	background:#4c636e;
	color:#FFFFFF!important;
}
.btn-aurometalsaurus-2{
	background:#697080;
	color:#FFFFFF!important;
}
.btn-aurometalsaurus-2:hover{
	background:#545a66;
	color:#FFFFFF!important;
}
.wire-btn-cal-poly-pomona-green{
	color:#205828!important;
	border-color:#205828!important;
}

/* Link colour styles */

.ltc-midnight-blue{
	color:#26205C!important;
}
.ltc-midnight-blue:hover{
	color:#1e1a4a!important;
}
.ltc-cal-poly-pomona-green{
	color:#205828!important;
}
.ltc-cal-poly-pomona-green:hover{
	color:#1a4620!important;
}
.ltc-deep-magenta{
	color:#D623CC!important;
}
.ltc-deep-magenta:hover{
	color:#ab1ca3!important;
}
.ltc-tufts-blue{
	color:#2B88C1!important;
}
.ltc-tufts-blue:hover{
	color:#226d9a!important;
}
.ltc-lime-green{
	color:#20B328!important;
}
.ltc-lime-green:hover{
	color:#1a8f20!important;
}

/* Icon colour styles */

.icon-anti-flash-white{
	color:#F2F2F2!important;
	border-color:#F2F2F2!important;
}
.icon-cal-poly-pomona-green{
	color:#205828!important;
	border-color:#205828!important;
}
.icon-white{
	color:#FFFFFF!important;
	border-color:#FFFFFF!important;
}
.icon-deep-magenta{
	color:#D623CC!important;
	border-color:#D623CC!important;
}
.icon-lime-green{
	color:#20B328!important;
	border-color:#20B328!important;
}
.icon-isabelline{
	color:#EDEFED!important;
	border-color:#EDEFED!important;
}
.icon-celestial-blue{
	color:#4989DD!important;
	border-color:#4989DD!important;
}
.icon-midnight-blue{
	color:#26205C!important;
	border-color:#26205C!important;
}

/* Bloc image backgrounds */

.bg-bg{
	background-image:url("img/bg.jpg");
}
.bg-bg{
	background-image:url("img/bg.jpg");
}
.bg-bg{
	background-image:url("img/bg.jpg");
}
.bg-bg-20version-202{
	background-image:url("img/bg-blue.jpg");
}



/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 992px) and (min-width: 768px)
{
    .navbar .nav{
		max-width:80%
    }
	.nav-center.navbar .nav{
		max-width:100%
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {.b-parallax{background-attachment:scroll;}}
@media (max-width: 991px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{padding-left: 10px;padding-right: 10px;}
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    h1,h2,h3,h4,h5,h6,p,#disqus_thread{
        padding-left:10px!important; 
        padding-right:10px!important; 
    }
    #hero-bloc h1{
        font-size:40px;
    }
    #hero-bloc h2{
        font-size:34px;
    }
    #hero-bloc h3{
        font-size:25px;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }  
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        padding-left:15px;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .dropdown .dropdown a .caret{   
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    
    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero{
        padding:50px 0;
    }
    .hero-nav{
        left:-1px;
        right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;   
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left; 
    }
    .bloc{
        padding-left: 0; 
        padding-right: 0;
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0; 
        padding-right: 0;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .video-bg-container{
        display:none;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 400px)
{    
    .bloc{
        padding-left: 0; 
        padding-right: 0;  
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
}
