<div class="selected-items">
    <div>
      <div class="row voffset nomargin bottom-margin-10">
        <div class="col-sm-12">
          <div class="btn-group btn-dropdown pull-right">
            <a href="#" class="btn dropdown-toggle  btn-cal-poly-pomona-green" data-toggle="dropdown" aria-expanded="false">Lisää toimittajia omista listoista<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a class="a-btn a-block" href="#">Esimerkki projekti - Betonielementit (6)</a>
              </li>
              <li>
                <a href="#" class="a-btn a-block">Esimerkki projekti - ikkunat (5)</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row nomargin voffset">
        <div class="col-sm-9 col-sm-4">
          <form id="form_39902" novalidate="">
            <div class="form-group">
              <input class="form-control" placeholder="Yrityksen Nimi" id="input_1927_36643_39902">
            <div class="help-block"></div></div>
          </form>
        </div>
        <div class="col-sm-7">
          <form id="form_18743" novalidate="">
            <div class="form-group">
              <input class="form-control" placeholder="Sähköposti" id="input_1640_21959_18743">
            <div class="help-block"></div></div>
          </form>
        </div>
        <div class="col-sm-1">
          <a href="index.html" class="btn pull-right btn-celestial-blue"><span class="ion ion-android-close icon-white"></span></a>
        </div>
      </div>
      <div class="row nomargin voffset">
        <div class="col-sm-9 col-sm-4">
          <form id="form_18613" novalidate="">
            <div class="form-group">
              <input class="form-control" placeholder="Yrityksen Nimi" id="input_1199_38656_18613">
            <div class="help-block"></div></div>
          </form>
        </div>
        <div class="col-sm-7">
          <form id="form_20675" novalidate="">
            <div class="form-group">
              <input class="form-control" placeholder="Sähköposti" id="input_1190_47671_20675">
            <div class="help-block"></div></div>
          </form>
        </div>
        <div class="col-sm-1">
          <a href="index.html" class="btn pull-right btn-celestial-blue"><span class="ion ion-android-close icon-white"></span></a>
        </div>
      </div>
      <div class="row nomargin voffset" id="hi">
        <div class="col-sm-9 col-sm-4">
          <form id="form_18613" novalidate="">
            <div class="form-group">
              <input class="form-control" placeholder="Yrityksen Nimi" id="input_1199_38656_18613">
            <div class="help-block"></div></div>
          </form>
        </div>
        <div class="col-sm-7">
          <form id="form_20675" novalidate="">
            <div class="form-group">
              <input class="form-control" placeholder="Sähköposti" id="input_1190_47671_20675">
            <div class="help-block"></div></div>
          </form>
        </div>
        <div class="col-sm-1">
          <a href="index.html" class="btn pull-right btn-celestial-blue"><span class="ion ion-android-close icon-white"></span></a>
        </div>
      </div>
      <div class="row nomargin voffset object-hidden" id="hidden-org">
        <div class="col-sm-9 col-sm-4">
          <form id="form_18613" novalidate="">
            <div class="form-group">
              <input class="form-control" placeholder="Yrityksen Nimi" id="input_1199_38656_18613">
            <div class="help-block"></div></div>
          </form>
        </div>
        <div class="col-sm-7">
          <form id="form_20675" novalidate="">
            <div class="form-group">
              <input class="form-control" placeholder="Sähköposti" id="input_1190_47671_20675">
            <div class="help-block"></div></div>
          </form>
        </div>
        <div class="col-sm-1">
          <a href="index.html" class="btn pull-right btn-celestial-blue"><span class="ion ion-android-close icon-white"></span></a>
        </div>
      </div>
      <div class="row nomargin voffset">
        <div class="col-sm-12">
          <div class="text-center">
            <a href="#" class="btn button-top-margin btn-cal-poly-pomona-green" data-toggle-visibility="hidden-org"><span class="ion ion-plus icon-spacer icon-isabelline"></span>Lisää uusi toimittajarivi</a>
          </div>
        </div>
      </div>
    </div>
  </div>