<v-app-layout>

  <v-bloc>
      <div class="col-sm-12">

         <v-section-header
         type="files">
          Tuo tiedostoja
        </v-section-header>

        <dropzone 
          ref="myDropzone" 
          id="innerFilesDropzone" 
          :options="dropzoneOptions"
          :destroyDropzone="false"
          v-on:vdropzone-removed-file="removeFile"          
          v-on:vdropzone-mounted="mountFiles"
          v-on:vdropzone-success="showSuccess"
          v-on:vdropzone-sending="sendingEvent"
          >
          <!-- Optional parameters if any! TODO:  -->
          <input type="hidden" name="quoteId" :value="$store.state.route.params.quoteId">
        </dropzone>

        <v-nav-footer
          prevRoute="inner-basics.index"
          nextRoute="inner-preview.index"
          :routeParams= "{ projectId: $store.state.route.params.projectId }">
        </v-nav-footer>

      </div>
  </v-bloc>
   

</v-app-layout>
