body {
  font-family: "Source Sans Pro";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.d-bloc .panel, .l-bloc {
  color: rgba(0,0,0,.7);
}

.d-bloc .panel .divider-h.hilight-divider span,
.l-bloc .divider-h.hilight-divider span {
  border-color: rgba(22, 34, 53, .2);
}

.frame-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 27%; /* aspect ratio */
  position: relative;
}

.iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.selected-panel-scroll {
  max-height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.panel-absolute {
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 999;
  min-width: 457px;
}

.user-popover {
  position: absolute;
  right: -150px;
  top: -300px;
  width: 400px;
  background: #fff;
  /*	border: 1px solid #42b983;
*/
  padding: 30px 20px;
  box-shadow: 0 6px 6px rgba(16, 16, 16, 0.04), 0 6px 6px rgba(0, 0, 0, 0.05);
  z-index: 999;
}

.popover-enter-active {
  transition: all .3s ease-in-out;
}
.popover-leave-active {
  transition: all .3s ease-in-out;
}
.popover-enter, .popover-leave-active {
  opacity: 0;
  transform: translateX(10px);
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container, .modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* margin */


/* top */
.p-t-0 {
  padding-top: 0px !important;
}
.p-t-1 {
  padding-top: 10px !important;
}
.p-t-2 {
  padding-top: 15px !important;
}
.p-t-3 {
  padding-top: 30px !important;
}

/* bottom */
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-b-1 {
  padding-bottom: 10px !important;
}
.p-b-2 {
  padding-bottom: 15px !important;
}
.p-b-3 {
  padding-bottom: 30px !important;
}

.m-b-0 {
  margin-bottom: 0px;
}
.m-b-1 {
  margin-bottom: 10px;
}
.m-b-2 {
  margin-bottom: 15px;
}
.m-b-3 {
  margin-bottom: 30px;
}

.m-t-0 {
  margin-top: 0px;
}
.m-t-05 {
  margin-top: 5px;
}
.m-t-1 {
  margin-top: 10px;
}
.m-t-2 {
  margin-top: 15px;
}
.m-t-3 {
  margin-top: 30px;
}

.table-bordered > tbody > tr > td {
  border: 1px solid rgb(232, 232, 232);
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 0px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid rgb(232, 232, 232);
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px;
}

.table > thead > tr > th {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f9fafb;
}
