<v-layout>
  <v-bloc>
    <h3 class="mg-sm text-center">
      <router-link :to="{ name: 'home.index' }">Coneron</router-link>
    </h3>
  </v-bloc>
  <v-bloc>
    <div class="col-md-6 col-md-offset-3">

        

      <v-panel contextual-style="primary">
          <h1 class="panel-title" slot="heading">Liity palveluun</h1>
        <div slot="body">
          <form @submit.prevent="register(user)">

              <div class="form-group col-md-12">
                  <label class="col-form-label">Yrityksen nimi</label>
                  <input autocomplete="organization" name="organizationName" data-vv-as="Yrityksen nimi" v-validate="'required'" v-model="user.organizationName" type="text" class="form-control" placeholder="Yrityksen nimi">
                  <span v-show="errors.has('organizationName')" class="help is-danger">{{ errors.first('organizationName') }}</span>                                                
                </div>

              <div class="form-group col-md-6">
                <label class="col-form-label">Etunimi</label>
                <input autocomplete="given-name" name="firstName" data-vv-as="Etunimi" v-validate="'required'" v-model="user.firstName" type="text" class="form-control" placeholder="Etunimi">
                <span v-show="errors.has('firstName')" class="help is-danger">{{ errors.first('firstName') }}</span>                                
              </div>

              <div class="form-group col-md-6">
                <label class="col-form-label">Sukunimi</label>
                <input autocomplete="family-name" name="lastName" data-vv-as="Sukunimi" v-validate="'required'" v-model="user.lastName" type="text" class="form-control" placeholder="Sukunimi">
                <span v-show="errors.has('lastName')" class="help is-danger">{{ errors.first('lastName') }}</span>                                                
              </div>

              <div class="form-group col-md-12">
                  <label class="col-form-label">Valitse yrityksen tyyppi</label>
                  <select v-model="user.organizationTypeId" class="form-control">
                    <option v-bind:value="1" selected>Rakennusliike</option>
                    <option v-bind:value="2">Rakennusliikkeiden alihankkija</option>
                  </select>
              </div>

              <div class="form-group col-md-12">
                  <label for="inputEmail4" class="col-form-label">Sähköposti</label>
                  <input type="email" name="email" autocomplete="email" data-vv-as="Sähköposti"  v-validate="'required|email'" v-model="user.email"  class="form-control" placeholder="Sähköposti">
                  <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>                
                </div>

              <div class="form-group col-md-12">
                <label class="col-form-label">Salasana</label>
                <input autocomplete="new-password" name="password" data-vv-as="Salasana"  v-validate="'required|min:8'" v-model="user.password" type="password" class="form-control" placeholder="Salasana">
                <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>                                                 
              </div>

            <div class="form-group col-md-12 text-center">
              <button class="btn btn-lg btn-deep-magenta">
                Liity palveluun
              </button>
            </div>
          </form>
        </div>


      </v-panel>


      <div class="text-center">
        Oletko jo liittynyt palveluun?
        <router-link :to="{ name: 'login.index' }">Kirjaudu sisään</router-link>
      </div>

    </div>
  </v-bloc>

</v-layout>