<div class="custom-header">
  <div class="row">
    <div class="col-sm-6">
      <h4 class="hilight-color mg-clear">
        <span class="ion ion-information-circled"></span>
        <slot></slot> 
      </h4>
    </div>
    <div class="col-sm-6">

    <template v-if="type == 'files'">
      <!--<a href="#" class="btn pull-right btn-cal-poly-pomona-green btn-sm"><span class="ion ion-upload icon-spacer"></span>Tuo tiedosto koneeltasi</a>-->
    </template>


    </div>
  </div>
</div>
