<button 
  @click="updateQuote(value)"
  :value="value"
  :type="this.type"
  class="btn inverse-color"
  :class="{ 'btn-deep-magenta': activeVal, 'btn-midnight-blue': !activeVal, 'btn-celestial-blue': color}">

  <template v-if="item">
      <template v-if="!activeVal">
        <span class="ion ion-android-radio-button-off icon-spacer icon-white"></span>
      </template>
      <template v-else>
        <span class="ion ion-android-radio-button-on icon-spacer icon-white"></span>
      </template>
      {{ item }}
  </template>
  <template v-else>
    <slot></slot>
  </template>

</button>
