<v-app-layout>

  <div class="loading" v-if="loading">
  </div>

  <div v-if="!loading" class="content">

    <div class="bloc bgc-tangerine-yellow d-bloc" id="bloc-303">
      <div class="container bloc-sm">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">
                <h2 class="mg-md text-center tc-white">
                  <strong>Uusi tarjouspyyntö</strong>
                </h2>
              </div>
              <div class="col-sm-4">
                <!--<a class="btn btn-lg pull-right btn-lime-green" onclick="scrollToTarget('#bloc-305')">Vastaa</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <v-bloc>

      <div class="col-sm-12">

        <v-quote-preview-body>

        </v-quote-preview-body>

      </div>

    </v-bloc>

    <v-bloc>

    <div class="col-sm-12">
				<div>
					<div class="panel alert-padding">
						<div class="panel-body">
							<h3 class="text-center mg-sm">
								<strong>Vastaa yritykselle</strong>
							</h3>
							<div class="divider-h">
								<span class="divider"></span>
							</div>
              <div class="text-center">
                <router-link :to="{ name: 'make-offer.index', params: { quoteId: $store.state.route.params.quoteId } }" class="btn btn-lg btn-lime-green">Tee tarjous</router-link>
                <!--<a href="tee-tarjous.html" class="btn btn-lg btn-lime-green">Tee tarjous</a>-->
                <!-- <a href="en-tee-tarjousta.html" class="btn btn-lg btn-brick-red">En tee tällä kertaa tarjousta</a> -->
              </div>
						</div>
					</div>
				</div>
			</div>

    </v-bloc>  

  </div>

</v-app-layout>