<div>
<table class="table">
  <thead>
    <tr>
      <td><strong>Rivinumero</strong></td>
      <td><strong>Tekninen kuvaus</strong></td>
      <td><strong>Määrä</strong></td>
      <td><strong>Yksikkö</strong></td>
      <td><strong>Toimituspäivä</strong></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr v-for="row in rows">
      <td>{{ id }}</td>
      <td><input type="text" v-model="row.description"></td>
      <td><input type="text" v-model="row.quantity"></td>
      <td>
        <select v-model="row.unit">
          <option value="1">Urakka</option>
          <option value="2">mm</option>
          <option value="3">m</option>
          <option value="3">m²</option>
          <option value="4">m³</option>
          <option value="5">t</option>
          <option value="6">kpl</option>
          <option value="7">h</option>
        </select>
      </td>
      <td><input type="date" v-model="row.deadline"></td>
      <td><a @click="removeRow(row)">Poista rivi</a></td>
    </tr>
  </tbody>
</table>
</table>
<div class="text-center bottom-margin-10">
    <a class="btn btn-lg bottom-margin-10 btn-cal-poly-pomona-green" @click="addRow" ><span class="ion ion-plus icon-spacer"></span>Lisää rivi</a><a href="#" class="btn btn-lg bottom-margin-10 btn-cal-poly-pomona-green object-hidden" data-toggle-visibility="hidden-row-job"><span class="ion ion-plus icon-spacer"></span>Lisää urakka</a>
  </div>
</div>