<v-app-layout>

  <div slot="header">

    <v-sub-header color="true">
      <template slot="header">
        Projektit
      </template>
      <template slot="right-col">
        <a href="#" @click.prevent="show = true" class="btn pull-right btn-midnight-blue"><span class="ion ion-plus-circled icon-spacer icon-anti-flash-white"></span>Uusi projekti</a>
      </template>
    </v-sub-header>

  </div>


  <div class="bloc bgc-white l-bloc">
    <div class="container bloc-sm">
      <div class="row">
        <div class="col-sm-12">

          <v-vuetable-container>

            <vuetable 
              class="mg-md" 
              ref="projectTable" 
              :css="css" 
              :api-url="url + '/projects?organizationId=' + $store.state.account.organizationId"
              :fields="fields" 
              :query-params="{ sort: '$sort', page: '', perPage: '$limit'}" 
              @vuetable:loaded="onLoading" 
              :no-data-template="noDataTemplate(this.loading, 'Ei vielä lisättyjä projekteja.')">

              <template slot="projectName" scope="props">
                <router-link :to="{ name: 'bids-open.index', params: { projectId: props.rowData.id, projectName: props.rowData.projectName  }}" class="ltc-tufts-blue bold-link">
                  {{formatProjectName(props.rowData.projectName)}}
                </router-link>
              </template>

              <template slot="actions" scope="props">
                <div class="custom-actions">

                  <!-- <vk-button 
                    id="props.rowIndex"
                    @click.native="showDropdown = !showDropdown">
                    Lisää 
                  </vk-button>
                  <vk-dropdown 
                    target="# + props.rowIndex"
                    :show="showDropdown"
                    >
                    Dropdown
                  </vk-dropdown> -->

                  <router-link 
                    :to="{ name: 'bids-open.index', params: { projectId: props.rowData.id, projectName: props.rowData.projectName  }}"
                    class="btn btn-sm inverse-color pull-right">
                    <span class="ion ion-eye icon-spacer icon-midnight-blue"></span>
                    Näytä projekti
                  </router-link>

                  <button 
                    @click="openEditProject(props.rowData.id)" 
                    class="btn btn-sm inverse-color pull-right">
                    <span class="ion ion-gear-b  icon-midnight-blue"></span> 
                  </button>

                  <button @click="isRemoveModalShown = true, setSelectedRow(props.rowData.id)" class="btn btn-sm inverse-color pull-right">
                    <span class="ion ion-trash-a icon-midnight-blue"></span> 
                  </button>

                </div>
              </template>
            </vuetable>

            <v-spinner v-if="loading"></v-spinner>

          </v-vuetable-container>

        </div>
      </div>
    </div>
  </div>


  <v-modal 
    :modalShow="show" 
    modalHeader="Uusi projekti" 
    @close="show = false"
    @submit="createProject"
    modalConfirm="Tallenna">
      <template slot="modalContent">
          <v-form-group-input name="projectName" source="newProject" rules="required">
              Nimi
            </v-form-group-input>
            <v-form-group-input name="projectNumber" source="newProject" rules="required">
              Projekti NRO
            </v-form-group-input>
      </template>
  </v-modal>

  <v-modal 
    :modalShow="isEditModalShown" 
    modalHeader="Muokkaa projektia" 
    @close="isEditModalShown = false"
    @submit="patchProject"
    modalConfirm="Päivitä">
      <template slot="modalContent">
          <v-form-group-input name="projectName" source="project" rules="required">
              Nimi
            </v-form-group-input>
            <v-form-group-input name="projectNumber" source="project" rules="required">
              Projekti NRO
            </v-form-group-input>
      </template>
  </v-modal>

  <v-modal 
    :modalShow="isRemoveModalShown" 
    modalHeader="Haluatko varmasti poistaa projektin?" 
    @close="isRemoveModalShown = false"
    @submit="removeProject(selectedRow)">
  </v-modal>

</v-app-layout>