<div>
  <div class="row preview-bg preview-padding">
    
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <h2 class="mg-sm">
            {{ getValue('quoteName') }}
          </h2>
        </div>
        <div class="col-sm-6">
          <h4 v-if="this.$store.state.quote.current.quoteEndDate" class="mg-md text-right">
            Pyynnön viimeinen vastausaika
            <br><strong>{{ getValue('quoteEndDate') }} klo {{ getValue('quoteEndTime') }}</strong><br>
          </h4>
        </div>
      </div>

      <v-quote-preview-section>
        Kuvaus
      </v-quote-preview-section>

      <p class="mg-md">
        {{ getValue('description') }}
      </p>

      <v-quote-preview-section>
        Tiedostot
      </v-quote-preview-section>


      <v-panel>
        <div slot="body">

          <v-spinner v-if="loading"></v-spinner>

          <template v-if="!loading">

            <div v-for="file in this.$store.state.quote.files" class="row nomargin voffset">
              <div class="col-sm-9">
                <a :href="formFileUrl(file.fileId)" class="a-btn a-block">{{ file.fileName }}</a>
              </div>
              <div class="col-sm-3">
                <button @click="removeFile(file.id)" class="btn btn-sm pull-right btn-celestial-blue">
                      <span class="ion ion-android-close icon-spacer icon-white"></span>Poista
                </button>
              </div>
            </div>

            <div v-if="this.$store.state.quote.files.length == 0">
              <span>Ei lisättyjä tiedostoja.</span>
            </div>

          </template>

        </div>
      </v-panel>

      <slot></slot>

    </div>
  </div>
</div>