<v-layout>
  <v-bloc>
    <h3 class="mg-sm text-center">
		  Coneron
	  </h3>
  </v-bloc>

  <v-bloc>
    <div class="col-md-6 col-md-offset-3">

      <h2 class="mg-sm text-center">
        Unohditko salasanasi?
      </h2>

       <div class="form-group">
          <label>
            Sähköposti
          </label>
          <input v-model="user.email" type="email" class="form-control" />
        </div>

        <div class="text-center">
          <button @click="sendPassword(user.email)" class="btn btn-lg btn-deep-magenta">Lähetä</button>
        </div>

    </div>
  </v-bloc>
  

</v-layout>