<vuetable 
  ref="quoteRequestsTable" 
  class="mg-md" :css="css" 
  :api-url="url + '/quotes?projectId=' + $store.state.route.params.projectId"
  :fields="fields" 
  :query-params="{ sort: '$sort', page: '', perPage: '$limit'}" 
  pagination-path="" 
  @vuetable:loaded="onLoaded"
  :no-data-template="noDataTemplate(this.loading, 'Ei vielä lähetettyjä tarjouspyyntöjä.')">

  <template slot="quoteName" scope="props">
    <router-link :to="formLinkToQuote(props.rowData, 'bidders.index')" class="ltc-tufts-blue bold-link">
      {{formatQuoteName(props.rowData.quoteName)}}
    </router-link>
  </template>

  <template slot="actions" scope="props">
    <div class="custom-actions">

      <router-link :to="formLinkToQuote(props.rowData, 'received-offers.index')" class="btn btn-sm inverse-color pull-right">
        <span class="ion ion-eye icon-spacer icon-midnight-blue"></span> Näytä tarjoukset
      </router-link>

      <button @click="isRemoveModalShown = true, setSelectedRow(props.rowData.id)" class="btn btn-sm inverse-color pull-right">
        <span class="ion ion-trash-a icon-spacer icon-midnight-blue"></span> Poista
      </button>

      <!-- @click.prevent="removeQuoteRequest(props.rowData.id)"  -->
    </div>
  </template>
</vuetable>