<div class="panel">
  <div class="panel-heading" v-if="hasSlot('heading')">
    <slot name="heading"></slot>
  </div>

  <div class="panel-body" v-if="hasSlot('body')">
    <slot name="body"></slot>
  </div>
</div>
