<v-app-layout>

  <div slot="header">

    <v-sub-header>
      <template slot="header">
        <router-link :to="{ name: 'projects.index'}"
                     class="ltc-tufts-blue">
          Projektit
        </router-link>
        / {{$store.state.project.current.projectName}}
      </template>
      <template slot="right-col">
        <button class="btn btn-midnight-blue pull-right"
                type="button"
                @click.prevent="isCategoryModalShown = true">
          </span>
          <span class="ion ion-plus-circled icon-spacer icon-anti-flash-white">
          </span>
            Uusi tarjouspyyntö projektiin
      </button>
        <!-- <button class="btn inverse-color pull-right" type="button"></span><span class="ion ion-gear-a icon-spacer icon-midnight-blue"></span>Projektin tiedot</button> -->
      </template>
    </v-sub-header>

  </div>

  <v-bloc>

    <!-- Nav pills -->
    <div class="col-md-8">
      <ul class="nav nav-tabs"
          id="myTab"
          role="tablist">
        <li class="nav-item active">
          <a class="nav-link active"
             href="#open-quotes"
             data-toggle="pill"
             role="tab">Avoimet tarjouspyynnöt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             href="#accepted-suppliers"
             data-toggle="pill"
             role="tab">Hyväksytyt toimittajat</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4">

      <div class="pull-right">
        <div class="ui form">
          <div class="form-inline">
            <div class="form-group">
              <input type="text"
                     v-model="filterText"
                     class="form-control"
                     @keyup.enter="doFilter"
                     placeholder="Hae">
            </div>
          </div>
        </div>
      </div>

    </div>

    <!--<vk-tabs :index="index" @change="index = arguments[0]">
    <vk-tabs-item name="Avoimet pyynnöt">-->

    <div class="tab-content">
      <div class="tab-pane active"
           id="open-quotes"
           role="tabpanel">
        <v-vuetable-container>

          <vuetable ref="quoteRequestsTable"
                    class="mg-md"
                    :css="css"
                    :api-url="url + '/quotes?projectId=' + $store.state.route.params.projectId"
                    :fields="fields"
                    :query-params="{ sort: '$sort', page: '', perPage: '$limit'}"
                    pagination-path=""
                    @vuetable:loaded="onLoaded"
                    :append-params="moreParams"
                    :no-data-template="noDataTemplate(this.loading, 'Ei vielä lähetettyjä tarjouspyyntöjä.')">

            <template slot="quoteName"
                      scope="props">
              <router-link :to="formLinkToQuote(props.rowData, 'bidders.index')"
                           class="ltc-tufts-blue bold-link">
                {{formatQuoteName(props.rowData.quoteName)}}
              </router-link>
            </template>

            <template slot="actions"
                      scope="props">
              <div class="custom-actions">

                <router-link :to="formLinkToQuote(props.rowData, 'received-offers.index')"
                             class="btn btn-sm inverse-color pull-right">
                  <span class="ion ion-eye icon-spacer icon-midnight-blue"></span> Näytä tarjoukset
                </router-link>

                <button @click="isRemoveModalShown = true, setSelectedRow(props.rowData.id)"
                        class="btn btn-sm inverse-color pull-right">
                  <span class="ion ion-trash-a icon-spacer icon-midnight-blue"></span> Poista
                </button>

                <!-- @click.prevent="removeQuoteRequest(props.rowData.id)"  -->
              </div>
            </template>
          </vuetable>

          <div class="vuetable-pagination ui basic segment grid">
            <!--<vuetable-pagination-info ref="paginationInfo"
          ></vuetable-pagination-info>-->
            <vuetable-pagination ref="pagination"
                                 @vuetable-pagination:change-page="onChangePage">
            </vuetable-pagination>
          </div>

          <v-spinner v-if="loading"></v-spinner>

        </v-vuetable-container>

      </div>

      <div class="tab-pane"
           id="accepted-suppliers"
           role="tabpanel">
        <v-vuetable-container>
          <v-selected-suppliers-vuetable>

          </v-selected-suppliers-vuetable>

          <div class="vuetable-pagination ui basic segment grid">
            <!--<vuetable-pagination-info ref="paginationInfo"
        ></vuetable-pagination-info>-->
            <vuetable-pagination ref="pagination"
                                 @vuetable-pagination:change-page="onChangePage">
            </vuetable-pagination>
          </div>

          <v-spinner v-if="loading"></v-spinner>

        </v-vuetable-container>
      </div>
    </div>

    <!-- </vk-tabs-item>
      <vk-tabs-item name="Hyväksytyt toimittajat">Hyväksytyt toimittajat</vk-tabs-item>
      <vk-tabs-item name="Peruuntuneet pyynnöt">Peruuntuneet pyynnöt</vk-tabs-item>
    </vk-tabs> -->


    </div>
  </v-bloc>

  <v-modal :modalShow="showCategoryModal()"
           modalHeader="Lisää kategoria"
           modalConfirm="Jatka"
           @close="isCategoryModalShown = false"
           @submit="createQuote()">
           <div v-for="category in this.$store.state.category.all" class="btn-group" slot="modalContent">

              <v-button
                  :item="category.serviceCategoryName"
                  :value="category.id"
                  >
                </v-button>
              <!-- <button 
                  class="btn btn-sm inverse-color">
                  {{ category.serviceCategoryName }}
              </button> -->
            </div>
  </v-modal>

  <v-modal :modalShow="showRemoveModal()"
           modalHeader="Haluatko varmasti poistaa tarjouspyynnön?"
           @close="isRemoveModalShown = false"
           @submit="removeQuoteRequest(selectedRow)">
  </v-modal>


</v-app-layout>