<v-app-layout>

  <div slot="header">

    <v-sub-header>
      <template slot="header">
        <h2>Muokkaa profiilia</h2>
      </template>
    </v-sub-header>

  </div>

  <div class="container bloc-md">

    <div class="col-sm-3">


      <!-- Nav pills -->
      <ul class="nav nav-pills pull-right" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" data-toggle="pill" href="#basic-info" role="tab">Perustiedot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#username-password" role="tab">Käyttäjätunnus ja salasana</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#messages" role="tab">Kuvat ja markkinointiteksti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#settings" role="tab">Ilmoitukset</a>
        </li>
      </ul>
    </div>


    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="basic-info" role="tabpanel">
        <div class="col-sm-8">
          <h3 class="mg-clear">
            <strong>Yhteyshenkilön tiedot</strong>
          </h3>
          <div class="divider-h">
            <span class="divider"></span>
          </div>

          <div class="form-group col-md-6">
            <v-form-group-input 
              name="firstName" 
              source="account">
              Etunimi
            </v-form-group-input>
          </div>

          <div class="form-group col-md-6">
            <v-form-group-input 
              name="lastName" 
              source="account">
              Sukunimi
            </v-form-group-input>
          </div>

          <div class="form-group col-md-12">
            <v-form-group-input 
            name="email" 
            source="account">
            Sähköposti
            </v-form-group-input>
          </div>


          <div class="form-group col-md-12">
            <label>
                Yhteyshenkilön puhelinnumero
              </label>
            <input class="form-control" id="input_1366">
            <div class="help-block"></div>
          </div>
          
          <div class="divider-h">
            <span class="divider"></span>
          </div>

          

          <h3 class="mg-clear section-header">
            Yrityksen tiedot
          </h3>
          <div class="divider-h">
            <span class="divider"></span>
          </div>


          <div class="form-group col-md-6">
            <v-form-group-input 
              name="organizationName" 
              source="organization">
              Yrityksen nimi
            </v-form-group-input>
          </div>


          <div class="form-group col-md-6">
            <label>
                Y-tunnus
              </label>
            <input class="form-control" id="input_857">
            <div class="help-block"></div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="row section-header">
                <div class="col-sm-6">
                  <h3 class="mg-clear">
                    <strong>Yrityksen osoite</strong>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-h">
            <span class="divider"></span>
          </div>
          
          <div class="form-group col-md-12">
            <label>
                Katuosoite
              </label>
            <input class="form-control" id="input_678">
            <div class="help-block"></div>
          </div>
          <div class="form-group col-md-6">
            <label>
                Kaupunki
              </label>
            <input class="form-control" id="input_678">
            <div class="help-block"></div>
          </div>
          <div class="form-group col-md-6">
            <label>
                Postinumero
              </label>
            <input class="form-control" id="input_678">
            <div class="help-block"></div>
          </div>
          <div class="divider-h">
            <span class="divider"></span>
          </div>
          

          <button class="btn btn-lg btn-deep-magenta" type="button" @click.prevent="patchAccount">Tallenna</button>
          

        </div>
      </div>


      <!--Username and password -->
      <div class="tab-pane" id="username-password" role="tabpanel">
        <div class="col-sm-8">
          <h3 class="mg-clear">
            <strong>Käyttäjätunnus ja salasana</strong>
          </h3>
          <div class="divider-h">
            <span class="divider"></span>
          </div>
          <div class="form-group">
            <label>
                Käyttäjätunnus
              </label>
            <input class="form-control medium-field" id="input_708">
            <div class="help-block"></div>
          </div>
          <div class="form-group">
            <label>
                Salasana
              </label>
            <input class="form-control medium-field" id="input_730">
            <div class="help-block"></div>
          </div>
          <div class="form-group">
            <label>
                Salasana uudelleen
              </label>
            <input class="form-control medium-field" id="input_1366">
            <div class="help-block"></div>
          </div>
        </div><a href="#" class="btn btn-lg  pull-right btn-deep-magenta">Tallenna</a>
      </div>


      <!--Pictures and marketing text -->
      <div class="tab-pane" id="messages" role="tabpanel">
        <div class="col-sm-8">
          <h3 class="mg-clear">
            <strong>Kuvat ja markkinointiteksti</strong>
          </h3>
          <div class="divider-h">
            <span class="divider"></span>
          </div>
          <div class="form-group">
            <label>
                      Markkinointiteksti
                    </label>
            <textarea class="form-control" rows="5" id="marketing-text"></textarea>
            <div class="help-block"></div>
          </div>
        </div><a href="#" class="btn btn-lg  pull-right btn-deep-magenta">Tallenna</a>
      </div>



      <!--notification settings -->
      <div class="tab-pane" id="settings" role="tabpanel">
        <div class="col-sm-8">
          <h3 class="mg-clear">
            <strong>Ilmoitukset</strong>
          </h3>
          <div class="divider-h">
            <span class="divider"></span>
          </div>
          <div class="form-group">
            <label>
                      Ilmoitus, jos palveluun tulee:
                    </label>
            <div class="checkbox">
              <label><input type="checkbox" value="">Uusi tarjous</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Uusi kysymys tarjouspyynnöstä</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Neuvottelut aloitetaan toimittajan kanssa</label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</v-app-layout>