<div class="nav-next-back">

  <div class="divider-h">
    <span class="divider"></span>
  </div>

  <router-link :to="{ name:  this.prevRoute }" class="btn btn-d btn-lg">Takaisin</router-link>

  <template v-if="type === 'finish'">
    <button class="btn btn-lg btn-midnight-blue pull-right" type="button" @click.prevent="show = true"></span>Lähetä</button>


    <vk-modal :show="show" :center="true" @center @clickOut="show = false" @inactive="show = false" @keyEsc="show = false">

      <a class="uk-close" @click="show = false"></a>
      <div class="uk-modal-header">
        <h2>Varmista tarjouspyynnön lähettäminen</h2>
      </div>
      <div class="text-center">
        Painamalla lähetä tarjouspyynnön saavat määrittämäsi vastaanottajat.
      </div>
      <div class="uk-modal-footer">
        <a href="#" @click.prevent="show = false" class="btn btn-d">Peruuta</a>
        <a href="#" @click.prevent="saveQuote" class="btn pull-right btn-lime-green">Lähetä</a>
      </div>
    </vk-modal>

    <vk-modal :show="showAfterSending" :center="true" @center @clickOut="showAfterSending = false" @inactive="showAfterSending = false"
      @keyEsc="showAfterSending = false">

      <a class="uk-close" @click="showAfterSending = false"></a>
      <div class="uk-modal-header">
        <h2>Tarjouspyyntö lähetetty</h2>
      </div>
      <div class="text-center bloc-md">
        <span class="et-icon-envelope icon-xl icon-lime-green "></span>
      </div>
      <div class="text-center">
        <b> Mahtavaa! </b> Toimittajat saavat ilmoituksen tarjouspyynnöstäsi sähköpostiinsa. Saat tiedon sähköpostiisi välittömästi
        kun toimittaja lähettää sinulle tarjouksen.
      </div>
      <div class="uk-modal-footer">
        <div class="text-center">
          <router-link :to="{ name:  this.nextRoute, params: this.routeParams }" class="btn btn-midnight-blue">Näytä omat tarjouspyynnöt</router-link>
        </div>
      </div>
    </vk-modal>


  </template>



  <template v-else>
    <router-link :to="{ name:  this.nextRoute, params: this.routeParams }" class="btn btn-lg btn-midnight-blue pull-right">Seuraava</router-link>
  </template>

</div>